@import '../components/styles/mixins';

.detailContainer {
    @include flexCol;
    @include alignCenter;
    .detailsSection {
        max-width: 680px;

        h2,
        h3   {
            @include luloFont;
            text-align: center;
            margin: 0;
        }
    }

    .iframe {
        border: none;
        width: 100%;
        height: 500px;
    }

    .images {
        width: 100%;
    }
}