@import '../styles/mixins';

.site {
    @include flexCol;
    padding: 25px;
    height: 100vh;

    .main {
        flex: 1;
        width: 100%;
        margin: 0 auto;
    }
}

@include breakpoint(md) {
    .site {
        .main {
            width: 980px;
        }
    }
}