@import '../../components/styles/mixins';

.gallery {
    @include flexRow;
    flex-wrap: wrap;
    button {
        padding: 5px 0;
        margin: 0;
        border: none;
        overflow: hidden;
        background-color: transparent;
        outline: none;
        flex: 1;
        min-width: 100%;
        max-width: 100%;
        height: auto;
        position: relative;

        .img {
            height: 100%;
            width: 100%;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            background-color: grey;
            opacity: 0;
            transition: opacity .2s;
        }

        &:hover {
            &::after {
                opacity: 0.5;
            }
        }

        .heart {
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 10;
        }
    }
}

@include breakpoint(sm) {
    .gallery {
        button {
            padding: 10px;
            min-width: 50%;
            max-width: 50%;
            height: 325px;
        }
    }
}

@include breakpoint(md) {
    .gallery {
        button {
            padding: 10px;
            min-width: 33%;
            max-width: 33%;
            height: 325px;
        }
    }
}