@import '../styles/mixins';

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;

    a {
        @include luloFont;
        font-size: 17px;
        padding: 0 10px;
        text-decoration: none;
        color: black;
        transition: color .5s ease 0s;


        &:hover,
        &.selectedNav {
            color: #A0A09F;
        }
    }
}

.portfolioHeader {
    @include flexRow;
    @include justifyCenter;
    @include alignCenter;
    margin: 25px 0;

    .graphicRenee {
        width: 150px;
        height: 150px;
    }

    .descriptionWrapper {
        @include flexCol;

        .portfolioDescription,
        p {
            @include luloFont;
            margin: 0;
            letter-spacing: -0.1em;
            line-height: 1.2em;
        }

        .portfolioDescription {
            font-size: 37px;
        }

        p {
            font-size: 11px;
        }
    }
}
