@import '../styles/mixins';

.footer {
    @include flexRow;
    @include justifySpaceAround;
    max-width: 100px;
    min-width: 100px;
    margin: 25px auto 0;
    
    .logo {
        transition: all 1s;

        &:hover {
            transform: rotateY(360deg);
        }
    }
}