@import '../styles/mixins';

.portal {
    @include flexCol;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: #f0f0f0;
    opacity: 1;
    transition: opacity .5s;
    z-index: 100;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .controls {
        @include flexRow;
        @include justifySpaceBetween;
        padding: 20px;

        .backBtn,
        .closeBtn {
            padding: 0;
            margin: 0;
            border: none;
            background-color: transparent;
        }

        .closeBtn {
            display: none;
        }
    }

    .content {
        @include flexCol;

        .carousel {
            @include flexRow;

            .carouselBtn {
                display: none;
                padding: 0;
                margin: 0;
                border: none;
                background-color: transparent;
            }

            .img {
                flex: 1;
                max-height: 65vh;
            }
        }

        .details {
            padding: 20px;
        }
    }
}

@include breakpoint(md) {
    .portal {
        .controls {
            @include justifyFlexEnd;

            .backBtn {
                display: none;
            }

            .closeBtn {
                display: initial;
            }
        }

        .content {
            @include flexRow;
            flex: 1;
            padding-bottom: 20px;

            .carousel {
                @include alignCenter;
                flex: 2;

                .carouselBtn {
                    display: initial;
                    height: auto;
                }

                .img {
                    height: 100%;
                    max-height: initial;

                    & > :first-child {
                        padding-bottom: 0 !important;
                    }
                }
            }

            .details {
                flex: 1;
            }
        }
    }
}